<div class="recipe-post container col-md-10 mx-auto">
  <%= form_with(model: @recipe, local: true) do |f| %>
    <%= render 'layouts/error_messages', model: f.object %>
    <div class="mt-5">
      <h5 class="d-flex align-items-center font-weight-bold"><%= f.label :title, "レシピ名" %></h5>
      <div><%= f.text_field :title, class: "form-control" %></div>
    </div>
    
    <div class="mt-4">
      <h5 class="d-flex align-items-center font-weight-bold"><%= f.label :image, "料理の画像" %></h5>
      <div class="row">
        <div class="col-md-4 d-flex align-items-center">
          <%= f.file_field :image %>
        </div>
        <div class="col-md-8">
          <%= f.text_area :catchcopy, class: "form-control", :placeholder => "レシピの魅力を伝えよう" %>
        </div>
      </div>
    </div>
    

    <div class="row mt-4">
      <h5 class="d-flex align-items-center font-weight-bold col-md-1"><%= f.label :no_of_dish, "人数" %></h5>
      <%= f.text_field :no_of_dish, class: "form-control col-md-2", :placeholder => "何人分"%>
    </div>
    
    
    <div class="recipe-ingredients mt-4">
      <h5 class="d-flex align-items-center font-weight-bold"><%= f.label :recipe_ingredients, "材料・分量" %></h5>
      <div class="col-md-12">
        <%= f.fields_for :recipe_ingredients do |t| %>
          <%= render "recipes/recipe_ingredient_fields", f: t %>
        <% end %>
      </div>
      
      <div id="detail-association-insertion-point"></div>
      
      <div class="mt-2">
        <%= link_to_add_association "+フォームを追加", f, :recipe_ingredients,
        class: "btn btn-outline-primary btn-block",
        data: {
        association_insertion_node: '#detail-association-insertion-point',
        association_insertion_method: 'before'
        }%>
      </div>
    </div>
    
    <h5 class="mt-5 font-weight-bold">作り方</h5>
    
    <div class="mt-2">
      <%= f.fields_for :how_to_makes, :html => { multipart: true } do |k| %>
        <%= render "recipes/how_to_make_fields", f: k %>
      <% end %>
    </div>
    
    <div id="detail-association-insertion-point2"></div>
    
    
    <div class="mt-2">
      <%= link_to_add_association "+フォームを追加", f, :how_to_makes,
      class: "btn btn-outline-primary btn-block",
      data: {
      association_insertion_node: '#detail-association-insertion-point2',
      association_insertion_method: 'before'
      }%>
    </div>
    <div class="mt-2 mb-5">
      <%= f.submit 'レシピ更新！', class: 'mt-2 btn btn-primary btn-block' %>
    </div>
  <% end %>
</div>